.task-title {
  background-color: #f8f8f8;
  width: 400px;
  height: 100%;
  text-align: center;
}

.intro {
  position: relative;
  text-align: center;
}

textarea {
  width: 250px;
  height: 75px;
  font-size: 15px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.task-description {
  width: 250px;
  height: 75px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  resize: none;
  text-align: center;
  vertical-align: bottom;
}

.start {

}

.button1 {
  font-family: Comic Sans MS;
  background-color: white;
  color: #555555;
  font-size: 20px;
  border-radius: 12px;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  font-family: Comic Sans MS;
  background-color: white;
  border: 4px solid #555555;
  color: #555555;
  padding: 16px 32px;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button2:hover {
  background-color: #555555;
  color: white;
}
